@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap");
:root {
  --accent-color: rgba(204, 204, 204, 0.7);
  --background-light-color: hsl(0, 0%, 97%);
  --background-light-blue-color: hsl(180, 71%, 99%);
  --box-shadow-light: 0 0 2px rgba(0, 0, 0, 0.2);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", Calibri;
}
body {
  margin-inline: max(
    5rem,
    calc(15vw)
  ); /* Ensures at least 5rem, scales up with viewport */
  padding-inline: max(
    2rem,
    calc(3vw)
  ); /* Ensures at least 2rem, scales up with viewport */
  border-left: 1px dashed var(--accent-color);
  border-right: 1px dashed var(--accent-color);
  @media (width < 30rem) {
    margin-inline: 1rem;
  }
}
img {
  max-width: 100%;
}
.pb-1o5 {
  padding-bottom: 1.5rem;
}
.intro {
  padding-block: 2rem;
  font-size: min(5rem, 2rem + 3vw);
  img {
    width: 5rem;
    border: 5px solid #fff;
    box-shadow: var(--box-shadow-light);
  }
}
hr {
  margin-block: 2rem;
  border: none;
  border-bottom: 1px dashed var(--accent-color);
}
.techstack ul {
  margin-top: 2rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap: 1rem;
  li {
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow-light);
    border-radius: 0.5rem;
  }
}
.companyinfo img {
  width: 15rem;
  display: block;
  margin-block: 2rem;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  .card {
    box-shadow: var(--box-shadow-light);
    padding: 1rem;
    border-radius: 0.5rem;
    * {
      display: block;
    }
    p {
      margin-top: 2rem;
    }
    p + * {
      margin-bottom: 2rem;
    }
    img {
      border-radius: 0.35rem;
    }
    a.link {
      margin-top: 1rem;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 0.35rem;
      background-color: #111;
      color: #fff;
    }
  }
}
.mfp-bg {
  background: #ffffff1c !important;
  opacity: 1;
  backdrop-filter: blur(2px) !important;
}
.mfp-figure:after {
  box-shadow: 0 0 15px rgb(0 0 0 / 28%) !important;
}
.contact ul {
  margin-top: 2rem;
  list-style: none;
}
footer {
  margin-bottom: 2rem;
}
.interesting {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  @media(width < 30rem){
    grid-template-columns: 1fr;
  }
}
.questions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}
.answer {
  display: none;
}
.answer-view {
  display: none;
  padding: 1rem;
  border-radius: .35rem;
  background: var(--background-light-blue-color);
  min-height: 40px;
  box-shadow: var(--box-shadow-light);
  small{
    color: #5d5d5d;
  }
}
.close-answer {
  float: right;
  color: #000;
  background: none;
  border: none;
  font-size: 1.36rem;
  cursor: pointer;
}
